<div class="container">
  <h1 id="page-title">Studenten</h1>

  <p>
    Op de pagina is een hoop meuk te zien.
  </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Naam</th>
      <th>Opleiding</th>
      <th>Email</th>
      <th>Acties</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of this.users">
      <td>{{s.id}}</td>
      <td>{{s.getName()}}</td>
      <td>{{s.study}}</td>
      <td>{{s.email}}</td>
      <td>
        <a [routerLink]="['/student/edit', s.id]" class="btn-link">
          <i class="fa fa-pencil"></i>
        </a>
      </td>
      <td>
        <a [routerLink]="['/student/remove', s.id]" class="btn-link">

          <i class="fa fa-trash"></i>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
