<div class="container">
  <h1 id="page-title">Gebruikers</h1>

  <p>
    Op de pagina is een hoop meuk te zien.
  </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Naam</th>
      <th>Opleiding</th>
      <th>Email</th>
      <th>Acties</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let s of this.users">
      <td>{{s.id}}</td>
      <td>{{s.firstName}} {{s.infix}} {{s.lastName}}</td>
      <td>{{s.study}}</td>
      <td>{{s.email}}</td>
      <td>
          <i class="fa fa-pencil" (click)="goToEdit(s.id)"></i>
      </td>
      <td>
          <i class="fa fa-trash" (click)="disableUser(s.id)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
