<div class="container">
    <h1 id="page-title">Nieuwe institutie</h1>
    <form>
        <div class="form-group">
            <label for="name">Naam institutie</label>
            <input type="text" name="name" id="name" class="form-control" />
        </div>
        <div class="form-group">
            <label for="street">Straatnaam</label>
            <input type="text" name="street" id="street" class="form-control" />
        </div>
        <div class="form-group">
            <label for="number">Huisnummer</label>
            <input type="text" name="number" id="number" class="form-control" />
        </div>
    </form>
</div>