<nav class="sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item" id="nav-header">Menu</li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/blog']">Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/institution']">Instituties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/student']">Studenten</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/internship']">Stages / minors</a>
    </li>
  </ul>
</nav>
<img id="fontys-logo" src="/assets/img/fontys-logo-white-purple.png" />