<nav class="sidebar">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p><i class="fa fa-user-circle-o"></i> Hallo, {{currentAdmin.firstName}}!</p>
      <ul class="nav nav-pills flex-column">
        <li class="nav-item" id="nav-header">Menu</li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']"><i class="fa fa-file-text"></i> Blogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/institution']"><i class="fa fa-university"></i> Instituties</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/user']"><i class="fa fa-users"></i> Gebruikers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/internship']"><i class="fa fa-graduation-cap"></i> Stages / minoren</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/internshiproute']"><i class="fa fa-arrow-right"></i> Studierichtingen</a>
        </li>
        <br />
        <li class="nav-item">
          <a class="nav-link" (click)="logoutUser()"><i class="fa fa-sign-out"></i> Uitloggen</a>
        </li>
      </ul>
      <br />
      <br />
      <img id="fontys-logo" src="/assets/img/fontys-logo-white-purple.png" />
    </div>
    <div class="col-md-1"></div>
  </div>
</nav>