<div class="row" id="content">
  <nav class="col-md-2 col-sm-3 d-sm-block sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item" id="nav-header">Menu</li>
      <li class="nav-item"><a class="nav-link" href="#">Blogs</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Instituties</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Studenten</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Stages / minors</a></li>
    </ul>
  </nav>
  <div class="col-md-10 col-sm-9">
    <div id="page-content" class="container">
      <h1 id="page-title">Blogs</h1>
      <p>
        Op deze pagina kunnen door studenten ingevoerde blogs worden bekeken, geaccepteerd of geannuleerd.
      </p>
      <ul id="instructions">
        <li>Om te accepteren klikt u op het vinkje.</li>
        <li>Om te annuleren klikt u op het kruisje.</li>
        <li>Om de blog te bekijken klikt u op het oogje</li>
      </ul>
      <table id="content-table" class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Auteur</th>
            <th>Betreft</th>
            <th>Datum/Tijd invoer</th>
            <th>Acties</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>001</td>
            <td>B. IJpelaar</td>
            <td>Junior dev. Stockholm</td>
            <td>14-11-2017</td>
            <td>X V 0</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>