<div class="row page-row">
  <div id="sidebar-col" class="col-md-3 col-sm-4">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9 col-sm-8">
    <div id="page-content" class="container">
      <h1 id="page-title">Blogs</h1>
      <p>
        Op deze pagina kunnen door studenten ingevoerde blogs worden bekeken, geaccepteerd of geannuleerd.
      </p>
      <ul id="instructions">
        <li>Om te accepteren klikt u op het vinkje.</li>
        <li>Om te annuleren klikt u op het kruisje.</li>
        <li>Om de blog te bekijken klikt u op het oogje</li>
      </ul>
      <br />
      <table id="content-table" class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Auteur</th>
            <th>Betreft</th>
            <th>Datum invoer</th>
            <th>Acties</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let blog of this.blogs">
            <td>{{blog.id}}</td>
            <td>{{blog.creator.firstName + ' ' + blog.creator.infix + ' ' + blog.creator.lastName}}</td>
            <td>{{blog.title}}</td>
            <td>{{blog.date | date: longDate}}</td>
            <td>
              <i class="fa fa-check" (click)="acceptBlog(blog.id)"></i>
              <i class="fa fa-times" (click)="rejectBlog(blog.id)"></i>
              <i class="fa fa-eye" (click)="showBlog(blog.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>