<div id="page-content" class="container">
  <h1 id="page-title">Blogs</h1>
  <p>
    Op deze pagina kunnen door studenten ingevoerde blogs worden bekeken, geaccepteerd of geannuleerd.
  </p>
  <ul id="instructions">
    <li>Om te accepteren klikt u op het vinkje.</li>
    <li>Om te annuleren klikt u op het kruisje.</li>
    <li>Om de blog te bekijken klikt u op het oogje</li>
  </ul>
  <table id="content-table" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Auteur</th>
        <th>Betreft</th>
        <th>Datum/Tijd invoer</th>
        <th>Acties</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let blog of this.blogs">
        <td>{{blog.id}}</td>
        <td>{{blog.creator.firstName + ' ' + blog.creator.infix + ' ' + blog.creator.lastName}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.date}}</td>
        <td>X V 0</td>
      </tr>
    </tbody>
  </table>
</div>