/* * {
    border: 1px solid black;
} */

#page-title {
    margin-top: 1em;
    color: #663366;
    text-shadow: 0px 0.5px 3px #524d43;
    letter-spacing: 2px;
}

#page-content {
    font-family: Arial, Helvetica, sans-serif;
    color: #524d43
}

#instructions {
    list-style: square;
}

.table thead {
    color: #663366;
}