<div class="container">
    <h1 id="page-title">Nieuwe stage of minor</h1>
    <form (ngSubmit)="postInternship()">
        <div class="form-group">
            <label for="name">Naam</label>
            <input [(ngModel)]="name" type="text" name="name" id="name" class="form-control" required />
        </div>
        <div class="form-group">
            <label for="summary">Beschrijving</label>
            <textarea [(ngModel)]="summary" name="summary" class="form-control" required></textarea>
        </div>
        <div class="form-group">
            <label for="type">Soort</label>
            <select [(ngModel)]="type" name="type" id="type" class="form-control" required>
                <option>Meeloopstage</option>
                <option>Afstudeerstage</option>
                <option>Minor</option>
            </select>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="from">Periode van</label>
                <input [(ngModel)]="dateStart" type="date" name="from" id="from" class="form-control" required />
            </div>
            <div class="form-group col-md-6">
                <label>Tot</label>
                <input [(ngModel)]="dateEnd" type="date" name="until" id="until" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="route">Studieroute</label>
            <select [(ngModel)]="route" name="route" id="route" class="form-control" required>
                <option *ngFor="let route of routes" [ngValue]="route">{{route.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="institution">Institutie</label>
            <select [(ngModel)]="institution" name="institution" id="institution" class="form-control" required>
                <option *ngFor="let institution of institutions" [ngValue]="institution">{{institution.id}}: {{institution.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="user">Gebruiker</label>
            <select [(ngModel)]="user" name="user" id="user" class="form-control" required>
                <option *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.infix}} {{user.lastName}} ({{user.email}})</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Bevestigen</button>
    </form>
</div>