<div class="container">
    <h1 id="page-title">Stages / Minors</h1>
    <p>
      Op deze pagina worden de beschikbare stages en minors beheerd. Ze staan in relatie met een institutie en 
      kunnen op basis van instituties worden toegevoegd. Ook kunnen de stages / minors gewijzigd worden of verwijderd 
      wanneer deze niet meer aangeboden worden.
    </p>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Naam</th>
          <th>Richting</th>
          <th>Soort</th>
          <th>Acties</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let internship of internships">
          <td>{{internship.id}}</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>