<div class="row page-row">
    <div id="sidebar-col" class="col-md-3 col-sm-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9 col-sm-8">
        <div *ngIf="allDataLoaded()">
            <div class="container">
                <h1 id="page-title">Update stage of minor</h1>
                <form (ngSubmit)="updateInternship()">
                    <div class="form-group">
                        <label for="name">Naam</label>
                        <input [(ngModel)]="model.title" type="text" name="name" id="name" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label for="summary">Beschrijving</label>
                        <textarea [(ngModel)]="model.summary" name="summary" class="form-control" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="type">Soort: {{textModel.title}}</label>
                        <select [(ngModel)]="model.title" name="type" id="type" class="form-control" required>
                            <option>Meeloopstage</option>
                            <option>Afstudeerstage</option>
                            <option>Minor</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="from">Periode van: {{textModel.startDate | date:longDate}}</label>
                            <input [(ngModel)]="model.startDate" type="date" name="from" id="from" class="form-control" required />
                        </div>
                        <div class="form-group col-md-6">
                            <label>Tot: {{textModel.endDate | date:longDate}}</label>
                            <input [(ngModel)]="model.endDate" type="date" name="until" id="until" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="route">Studieroute: {{textModel.internshipRoute.name}}</label>
                        <select [(ngModel)]="model.internshipRoute.name" name="route" id="route" class="form-control" required>
                            <option *ngFor="let route of routes" [ngValue]="route">{{route.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="institution">Institutie: {{textModel.institution.name}}</label>
                        <select [(ngModel)]="model.institution" name="institution" id="institution" class="form-control" required>
                            <option *ngFor="let institution of institutions" [ngValue]="institution">{{institution.id}}: {{institution.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="user">Gebruiker: {{textModel.user.firstName}} {{textModel.user.infix}} {{textModel.user.lastName}}</label>
                        <select [(ngModel)]="model.user" name="user" id="user" class="form-control" required>
                            <option *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.infix}} {{user.lastName}} ({{user.email}})</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Bevestigen</button>
                </form>
            </div>
        </div>
    </div>
</div>