<div class="row page-row">
    <div id="sidebar-col" class="col-md-3 col-sm-4">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9 col-sm-8">
        <div class="container">
            <h1 id="page-title">Nieuwe Studierichting</h1>
            <form ngNativeValidate (ngSubmit)="postInternshipRoute()">
                <div class="form-group">
                    <label for="name">Naam</label>
                    <input [(ngModel)]="model.name" type="text" name="name" id="name" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="institution">Wordt gegeven op</label>
                    <select [(ngModel)]="institution" name="institution" id="institution" class="form-control" required>
                        <option *ngFor="let institution of institutions" [ngValue]="institution">{{institution.id}}: {{institution.name}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Bevestigen</button>
            </form>
        </div>
    </div>
</div>